# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.DYLIB

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Backup files
*.c~
*.h~
*.o~
tests/codec/uri
build/
tests/uri
tests/string
package-lock.json
node_modules/
tests/math
tests/result
tests/pp
tests/error
tests/ipc
tests/test
tests/xtest
man/*.1
man/*.3
deps/bin
tests/buffer
tmp
tests/opc_buffer
tests/opc_buffer_from
tests/opc_buffer_compare
tests/opc_buffer_equals
tests/opc_buffer_fill
tests/opc_buffer_from_string
tests/opc_buffer_slice
tests/opc_buffer_write
tests/opc_buffer_write_buffer
tests/opc_buffer_write_string
tests/opc_result_string
tests/opc_string_compare
tests/opc_string_compare_with_size
tests/opc_string_equals
tests/opc_string_size
tests/opc_string_slice
tests/opc_uri_component_decode
tests/opc_uri_component_decode_size
tests/opc_uri_component_encode
tests/opc_uri_component_encode_size
tests/opc_is_error
tests/opc_error_throw
tests/opc_error_catch
tests/opc_error_create
tests/opc_error_get_code
tests/opc_error_get_message
tests/opc_error_reset
tests/opc_error_string
tests/opc_math
tests/opc_system_init
tests/opc_uri_parse
