title: Hello World
copyright: (c) Socket Supply Co. 2022
description: A simple hello world for libssc

version: v0.0.1
version_short: 0.0.1

bundle_identifier: com.libssc.examples.hello-world
bundle_identifier_short: libssc-hello-world-example

name: hello-world
build: make -B build --
input: src
output: build
executable: hello-world

debug_flags: -g -O3
flags: -O1

height: 750
width: 1024

linux_cmd: bin/hello-world
mac_cmd: bin/hello-world
win_cmd: bin\hello-world.exe
